.App {
	text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

#loginPageForm,
#recipe-search,
#registerPageForm {
	background-color: wheat;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 10px;
}

#loginPageForm input,
#loginPageForm select,
#registerPageForm input,
#registerPageForm select,
#recipe-search input,
#recipe-search select {
	flex: 0 0 80%;
	padding: 3px;
	margin: 5px 0px;
	border-radius: 5px;
	background-color: whitesmoke;
}

#nutrition{
	display: flex;
}
