body {
	font-family: "Libre Baskerville", serif;
	background-color: #F1f9F8;
	margin-bottom: 100px;
	min-height:150vh;
}
button {
	background-color:#C2FBD7;
	border: 2px solid whitesmoke;
	color: green;
	/* margin-top: 25px; */
	padding: 25px;
	width: 300px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}

.btn-group {
	display: flex;
	justify-content: flex-end;
}

.btn-lg {
	font-family: "Libre Baskerville", serif;
	font-weight: bold;
	font-size: 25px;
}

.inner {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepageLink {
	text-align: center;
	text-decoration: none;
	color: aliceblue;
}

#homepage {
	margin:70px auto;
}
.temp {
	position:absolute;
	top:0;
	left:0;
	z-index:-10
}

.temp {
	position:absolute;
	top:60px;
	left:0;
	z-index:-10
}

#demo {
	border:1px solid red;
	padding:2px;
}

.signtext {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.btntext {
	height: 175px;
	display:flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
	justify-content: space-between;
}

.text {
	/* height: 150px; */
	max-width: 300px;
	display: flex;
	justify-content: center;
	text-align: center;
	
}

.topbtn {
	display: flex;
	justify-content: center;
}

.level1 {
	background:rgb(157, 235, 157);
	border:1px dashed red;
	margin:4px;
}

.level2 {
	border:1px dashed red;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}