body {
	background-color: #F1f9F8;
	
}
.button {
	background-color:#C2FBD7;
	border: 2px solid whitesmoke;
	color: green;
	/* margin-top: 25px; */
	padding: 25px;
	width: 300px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	transition: all 0.3s ease-in-out;
    background: linear-gradient(0deg, rgb(194, 251, 215), rgb(231, 253, 239), rgb(230, 241, 236));
}

.btn-group {
	display: flex;
	justify-content: flex-end;
}

.btn-lg {
	font-family: "Libre Baskerville", serif;
	font-weight: bold;
	font-size: 25px;
}

.inner {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homepageLink {
	text-align: center;
	text-decoration: none;
	color: aliceblue;
}

#homepage {
	margin:70px auto;
}
.temp {
	position:absolute;
	top:0;
	left:0;
	z-index:-10
}

.temp {
	position:absolute;
	top:60px;
	left:0;
	z-index:-10
}

#demo {
	/* border:1px solid red; */
	padding:2px;
}

.signtext {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2em;
	margin: 0px auto 50px;
	max-width: 1000px;
	box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
	
}

.btntext {
	height: 175px;
	display:flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
	justify-content: space-between;
}

.text {
	/* height: 150px; */
	max-width: 300px;
	display: flex;
	justify-content: center;
	text-align: center;
	
}

.topbtn {
	display: flex;
	justify-content: center;
}

.level1 {
	background:rgb(157, 235, 157);
	/* border:1px dashed red; */
	margin:4px;
	font-size: 30px;
}

.caption {
	/* border: 1px dashed red; */
	font-size: 27px;
}

.level2 {
	/* border:1px dashed red; */
	padding: 15px 0px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}

.row {
	display: flex;
	flex-direction: row;
	width:100%;
	text-align: center;;
	
}
.row p {
	text-align:left;
	padding:0 20px;
	flex:1 1 30%;
}

.imagecontainer {
	margin: 0 ;
	border-right:1px solid rgb(224, 217, 217);
	display:flex column;
}

.imagecontainer img {
	max-width: 250px;
	/* flex:1 1 100%; */
	

}
.btntext {	border:1px solid rgb(131, 232, 168,0.2);
	background-color: rgba(176, 246, 202, 0.2);;
	border-radius:5px;
width:1 1 40%;
padding-top:10px;
margin:auto;
}
.topbtn a:hover {
    background-color: linear-gradient(0deg, rgb(128, 194, 153), rgb(147, 211, 170), rgb(210, 237, 225));
	transition: background-color 10.5s ease-in-out;
}
@media screen and (max-width: 640px) {
.signtext {
	flex-direction: column;
}
.btntext:first-child {
	margin-bottom:20px;
}

}

@media screen and (max-width: 750px) {
	.imagecontainer:first-child {
		display: none;
		background-color: red;;
		
	}
}
@media screen and (max-width: 500px) {
	.imagecontainer:last-child {
		display: none;
		background-color: red;;
	}
	.item .caption {
		text-align: center;
	}
	.imagecontainer img {
		width:100%;
		max-width:500px;
		
		padding:5%;
	}

}
.imagecontainer{
	width:100%;
	height:100%;
}
.caption {padding-left:10px;
margin-bottom:15px;}