/* #userProfileCard{
    background-color: none;
    display:flex;
    flex-direction: column;
    margin-top:20px;
    border:1px solid black;
    border-radius:10px;
    width:100%
   
}

.cardRow {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardRow p,.cardRow  input {
    flex: 1 1 35%;
    padding:5px 15px;
    text-align: left;
    border: 1px solid black;
    min-width:100px;
}
.cardRow p:first-child {
    flex: 0 1 30%;
    padding:5px 15px;
    text-align: left;
}

.cardRow img {
    padding:0 5px;
}#userProfileCard button{
    margin:20px 0;
    align-self: center;
}
.deleteButton {
    color:red;
    background-color: none;
    text-align: left;
    font-size: 0.8em;
    padding:5px 15px;
}  */