:root {
	--gradient-shadow: linear-gradient(
		45deg,
		rgb(193, 231, 225),
		rgb(192, 249, 240),
		rgb(189, 213, 210),
		rgb(187, 244, 236),
		rgb(165, 235, 225),
		rgb(168, 209, 203),
		rgb(193, 231, 225),
		rgb(170, 224, 216),
		rgb(181, 241, 232),
		rgb(193, 231, 225)
	);
}
.shadow {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	position: relative;
	color: #fff;
	text-align: center;
	
	
	background: linear-gradient(0deg, rgb(193, 231, 225), rgb(225, 246, 243));
}
.shadow:before,
.shadow:after {
	content: "";
	position: absolute;
	/* top: -2px;
	left: -2px; */
	background: var(--gradient-shadow);
	background-size: 200%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}

.shadow:after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}


.banner img {
    width: 100%;
    max-height: 150px;
    position: relative;
    margin-bottom: 20px;
}

.avatarOverlay {
    position: absolute;
    top: 90px;
    left: 30px;
    z-index: 10;
    width: 200px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    margin-left: 5%;min-width:300px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}

@media screen and (max-width: 600px) {
    .profileContainer {
        margin-right: 5%;
    }
}

.profileCard {
    flex: 0 0 50%;
    /* margin: auto; */
    text-align: center;
    width: 100%;
    
}

/* top section : 2 divs width css */
.FlexRowTwo {
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 600px) {
    .FlexRowTwo {
        flex-direction: column;
    }
}

/* left panel */
.profileTitle p {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 600;
    background-color: rgb(194, 251, 215);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

#userProfileCard {

    background-color: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    /* width: 100%; */
}

.cardRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
}

.cardRow p,
.cardRow input {
    flex: 1 1 35%;
    padding: 5px 15px;
    text-align: left;
    min-width: 100px;
}

.cardRow p:first-child {
    flex: 0 1 30%;
    padding: 5px 15px;
    text-align: left;
}

.cardRow img {
    padding: 0 5px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;

}

.deleteButton {
    color: red;
    background-color: none;
    text-align: left;
    font-size: 1.1em;
    padding: 5px 15px;
    cursor: pointer;
}

.actions {
    margin: 20px 0;
    align-self: center;

}

.actions button {
    padding: 5px 30px;
    border-radius: 9px;
    text-align: center;
    background-color: rgb(194, 251, 215);
    cursor: pointer;
}

.profileCard input , .cardRow p { 
    border-radius:15px;
    margin: 0px auto;  
}

.cardRow {
    display:flex;
    flex-direction: row;
  
}
.cardRow p { 
border:1px solid rgb(51, 51, 51,0.3); 
border-left:none;
border-top-left-radius: 0;
border-bottom-left-radius: 0px;
}
.cardRow p:first-child {
    border:1px solid rgb(51, 51, 51,0.3);
    border-radius: 5px;
    background-color: rgb(194, 251, 215);
}

.favsContainer {
    flex: 1 1 50%;
    background-color: none;
    padding-left: 5%;
    padding-right: 5%;


}

.favsTitle,
.bookShelfTitle {
    width: max-content;
    padding: 10px 35px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgb(194, 251, 215),rgb(231, 253, 239),
     rgb(230, 241, 236)   );
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

@media screen and (max-width: 600px) {
    .favsTitle {
        margin-top: 20px;
        ;
    }
}

.favsTitle p,
.bookShelfTitle p {
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(249, 182, 132);

}
@media screen and (max-width: 500px) {
    .favsTitle ,
    .bookShelfTitle  {
        text-align: center;
        width:100%;
        
    }
}

.favList {
    border: 2px solid rgb(70, 66, 66, 0.2);
    flex: 1 1 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 50vh;
    max-height:50vh;
    
    background-color: rgb(225, 246, 243);
  
    margin: 0px;
    padding: 15px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
}

.onefavContainer {
    background-color: #222;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    flex: 1 1 30%;
    max-width: auto;
    max-height: auto;
    transition: transform 5.7s ease-in-out;
}

.profileFavImage {
    width: 100%;
    height:80%
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px 3px;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    visibility: hidden;
    transition: visibility .5s, max-height .5s;
    max-height: 0;
    overflow: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: all 0.7s ease-in-out;
    max-height: 200px; 
}

.tooltip:hover .infoTab {
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    color:#333;
}
.infoTab {
    transition: all 0.7s ease-in;
    visibility: visible;
    /* height:110px; */
}
.infoTab:hover {
    visibility: hidden;
    transition:  visibility .5s, max-height .5s color #333;
    max-height: 0;
}
.bookShelfContainer {
    width: 90%;
    margin: auto;
    margin-top: 20px;
   
}

.bookShelf {
    display: flex;
    height:max-content;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(225, 246, 243);
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
 border-style: ridge;
 border-right:ridge;
 border-width: 30px;; transform:   rotateX(10deg);
}

.book {
    height:200px;
    padding:10px 10px 0px 10px;
    cursor: pointer;
    position: relative;
    margin:20px 0px 0px 0px;
    transition: transform .7s ease-in-out;
}

.book:hover {
  
    transform: scale(1.1);
}
.book:first-child {
    margin-left:20px;;
}

.book p {
    position: absolute;
    z-index: 10;
    top:35%;
    left: 10%;
    width:100px;
    margin:5px 10px;  color:black;
    background:rgb(238, 238, 238,0.8);
    padding:2px 12px;
    border-radius: 15px;
}

.bookImg {
    /* position: absolute; */
    /* top: 0px; */
    height:100%;
}

#cogIcon {
    transition: transform .7s ease-in-out;
}

#cogIcon:hover {
    transform: rotate(360deg);
    /* transform: scale(3); */

}

@media screen and (max-width: 500px) {
    .book {
          position:relative;
        align-content: center;
        justify-content: center;
        margin-bottom: 30px;;
       
    }
    .bookShelf { display:flex;
    flex-direction: column;

}
    .book:first-child {
        margin-left:20px;;
    }
    .book p {
        position: absolute;
        z-index: 10;
        top:30%;
        left: 25%;
        
    }
}